In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install -q surprise

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
import surprise
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
from surprise.model_selection import KFold

import warnings; warnings.simplefilter('ignore')

In [ ]:
mmd = pd.read_csv("/content/drive/My Drive/Dataset/movies_metadata.csv")
#mmd.head()

In [ ]:
mmd.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

#Pre Processing

In [ ]:
#to drop the rows which are having invalid Id's(3 rows having some date instead of id)
idx_ol = [idx for idx, val in enumerate(mmd['id']) if len(val) == 10]
mmd.drop(idx_ol, inplace = True)
mmd.reset_index(inplace=True)
mmd.drop('index',axis = 1,inplace=True)
mmd['id'] = mmd['id'].astype(int)

In [ ]:
print(mmd['genres'])

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45458    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45459                        [{'id': 18, 'name': 'Drama'}]
45460    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45461                                                   []
45462                                                   []
Name: genres, Length: 45463, dtype: object

In [ ]:
mmd['genres'] = mmd['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
print(mmd['genres'])

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45458                 [Drama, Family]
45459                         [Drama]
45460       [Action, Drama, Thriller]
45461                              []
45462                              []
Name: genres, Length: 45463, dtype: object

In [ ]:
date=mmd['release_date'].str.split('-', n = 2, expand = True)
mmd['year']=date[0]
mmd['month']=date[1]
mmd['day']=date[2]
mmd.head()

   adult                              belongs_to_collection  ... month day
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...    10  30
1  False                                                NaN  ...    12  15
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...    12  22
3  False                                                NaN  ...    12  22
4  False  {'id': 96871, 'name': 'Father of the Bride Col...  ...    02  10

[5 rows x 27 columns]

In [ ]:
mmd.drop(['release_date'],axis = 1)

       adult                              belongs_to_collection  ... month  day
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...    10   30
1      False                                                NaN  ...    12   15
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...    12   22
3      False                                                NaN  ...    12   22
4      False  {'id': 96871, 'name': 'Father of the Bride Col...  ...    02   10
...      ...                                                ...  ...   ...  ...
45458  False                                                NaN  ...   NaN  NaN
45459  False                                                NaN  ...    11   17
45460  False                                                NaN  ...    08   01
45461  False                                                NaN  ...    10   21
45462  False                                                NaN  ...    06   09

[45463 rows x 26 columns]

In [ ]:
ls = pd.read_csv("/content/drive/My Drive/Dataset/links_small.csv")
ls_tmdbId = ls[ls['tmdbId'].notnull()]['tmdbId'].astype(int)
smd = mmd[mmd['id'].isin(ls_tmdbId)]
ls.columns

Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')

#Description Based Recommender

In [ ]:
smd['tagline']=smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')
smd.head()

   adult  ...                                        description
0  False  ...  Led by Woody, Andy's toys live happily in his ...
1  False  ...  When siblings Judy and Peter discover an encha...
2  False  ...  A family wedding reignites the ancient feud be...
3  False  ...  Cheated on, mistreated and stepped on, the wom...
4  False  ...  Just when George Banks has recovered from his ...

[5 rows x 28 columns]

In [ ]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])
#tfidf_matrix.shape

In [ ]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim[0]
#cosine_sim.shape

array([1.        , 0.00680476, 0.        , ..., 0.        , 0.00344913,
       0.        ])

In [ ]:
smd = smd.reset_index()
smd.drop('index', axis=1, inplace=True)
smd.shape

(9099, 28)

In [ ]:
movie_titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [ ]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return movie_titles.iloc[movie_indices]

In [ ]:
get_recommendations('The Imitation Game')

4120                          Windtalkers
1417                       Mercury Rising
5138                 Cheaper by the Dozen
6971                   The Rape of Europa
2661    Ghost Dog: The Way of the Samurai
6898                           Mala Noche
5182                    Soldier of Orange
5439                         The Notebook
6063                         Brian's Song
2372                          Fever Pitch
Name: title, dtype: object

#Metadata Based Recommender

In [ ]:
credits = pd.read_csv('/content/drive/My Drive/Dataset/credits.csv')
keywords = pd.read_csv('/content/drive/My Drive/Dataset/keywords.csv')
print(keywords.dtypes)
keywords.shape

id           int64
keywords    object
dtype: object

(46419, 2)

In [ ]:
mmd = mmd.merge(credits,on='id')
mmd = mmd.merge(keywords,on='id')

In [ ]:
print(mmd.shape)

(46628, 30)

In [ ]:
smd = mmd[mmd['id'].isin(ls_tmdbId)]
print(smd.columns)
#smd.shape

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'year', 'month', 'day', 'cast', 'crew',
       'keywords'],
      dtype='object')

#Using cast,crew and keywords

In [ ]:
smd['crew'] = smd['crew'].apply(literal_eval)
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))
smd['cast'] = smd['cast'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd.head()

   adult  ... cast_size
0  False  ...        13
1  False  ...        26
2  False  ...         7
3  False  ...        10
4  False  ...        12

[5 rows x 32 columns]

In [ ]:
def getDirector(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

smd['Director'] = smd['crew'].apply(getDirector)
#smd.head()

In [ ]:
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)

In [ ]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
smd['Director'] = smd['Director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['Director'] = smd['Director'].apply(lambda x: [x,x,x])

In [ ]:
s = smd.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keywords'
s = s.value_counts()
print(s)

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
                       ...
terrorist group           1
body count                1
gender disguise           1
beatnik                   1
low budget film           1
Name: keywords, Length: 12940, dtype: int64

In [ ]:
s = s[s>1]

In [ ]:
stemmer = SnowballStemmer('english')

def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

smd['keywords'] = smd['keywords'].apply(filter_keywords)
#smd

In [ ]:
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
#smd

In [ ]:
smd['movie_type'] = smd['keywords'] + smd['cast'] + smd['Director'] + smd['genres']
smd['movie_type'] = smd['movie_type'].apply(lambda x: ' '.join(x))

In [ ]:
smd.head()

   adult  ...                                         movie_type
0  False  ...  jealousi toy boy friendship friend rivalri boy...
1  False  ...  boardgam disappear basedonchildren'sbook newho...
2  False  ...  fish bestfriend duringcreditssting waltermatth...
3  False  ...  basedonnovel interracialrelationship singlemot...
4  False  ...  babi midlifecrisi confid age daughter motherda...

[5 rows x 34 columns]

In [ ]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['movie_type'])

cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [ ]:
smd = smd.reset_index()
smd.drop(['index'],axis =1)
movie_titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [ ]:
get_recommendations('The Imitation Game')

8000             Headhunters
3205    The Eagle Has Landed
2857                   U-571
5237       Soldier of Orange
5556         The Enemy Below
6654         The Dam Busters
8554           Lone Survivor
4102                  Enigma
6393           49th Parallel
472         Schindler's List
Name: title, dtype: object

In [ ]:
def modified_recommendations(title):
    idx = indices[title]
    print(idx)
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    movies['vote_count'] = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    movies['vote_average'] = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = movies['vote_average'].mean()
    m = movies['vote_count'].quantile(0.60)
    selected = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]

    v = selected['vote_count']
    R = selected['vote_average']
    selected['wr'] = (v/(v+m) * R) + (m/(m+v) * C)
    selected = selected.sort_values('wr', ascending=False)
    return selected.head(10)

In [ ]:
modified_recommendations('The Imitation Game')

8800

                   title  vote_count  vote_average  year        wr
472     Schindler's List        4436             8  1993  7.886457
8554       Lone Survivor        1549             7  2013  6.907735
8835            Unbroken        1437             7  2014  6.902012
7157                Milk         628             7  2008  6.822468
8000         Headhunters         404             7  2011  6.770997
7972  A Dangerous Method         589             6  2011  6.200159
7469            Brothers         650             6  2009  6.188172
7555          Green Zone         730             6  2010  6.174469
8793          Foxcatcher         965             6  2014  6.143725
7188            Valkyrie        1195             6  2008  6.122584

#Collaborative Filtering

In [ ]:
ratings = pd.read_csv('/content/drive/My Drive/Dataset/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
reader = Reader()
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
svd = SVD()

In [ ]:
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
#svd.predict(1,'The Imitation Game')

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8970  0.8971  0.8932  0.9024  0.8958  0.8971  0.0030
MAE (testset)     0.6922  0.6926  0.6885  0.6938  0.6867  0.6907  0.0027
Fit time          4.54    4.57    4.65    4.62    4.59    4.60    0.04
Test time         0.29    0.14    0.14    0.14    0.14    0.17    0.06

{'fit_time': (4.54301643371582,
  4.56829309463501,
  4.6488356590271,
  4.622647523880005,
  4.594477415084839),
 'test_mae': array([0.69218347, 0.69262259, 0.68846212, 0.69376556, 0.68667374]),
 'test_rmse': array([0.89703381, 0.89708035, 0.89318198, 0.90236214, 0.89575509]),
 'test_time': (0.29320716857910156,
  0.1395130157470703,
  0.13973569869995117,
  0.14180898666381836,
  0.13892555236816406)}

In [ ]:
def recommender(userid,titlename):
    movies_seen = ratings[ratings['userId'] == userid]['movieId'].tolist()
    movies_all = ls['movieId'].tolist()
    unseen = [x for x in movies_all if x not in movies_seen]
    unseen =  pd.DataFrame(unseen)
    unseen.columns = ['movieId']
    unseen['est'] = unseen['movieId'].apply(lambda x: svd.predict(userid,x).est)
    unseen = unseen.sort_values('est', ascending=False)
    unseen = unseen[0:10]

    ex = ls[['movieId','tmdbId']]
    ex.columns = ['movieId','id']
    ex = ex.merge(smd[['id','title']], on='id').set_index('movieId')

    unseen['movien'] = unseen['movieId'].apply(lambda x: ex.loc[x]['title'])
    return unseen['movien']

In [ ]:
recommender(500,'Jumangi')

6628                 There Will Be Blood
956     The Treasure of the Sierra Madre
933                          Raging Bull
8145                          About Time
748                    The African Queen
708                        All About Eve
1440                   On the Waterfront
913                         12 Angry Men
998                   The Killing Fields
582                         Cemetery Man
Name: movien, dtype: object

#Hybrid Recommender

In [ ]:
hr = ls[['movieId','tmdbId']]
hr.columns = ['movieId', 'id']
hr = hr.merge(smd[['title', 'id']], on='id').set_index('title')
hr.head()

                             movieId       id
title
Toy Story                          1    862.0
Jumanji                            2   8844.0
Grumpier Old Men                   3  15602.0
Waiting to Exhale                  4  31357.0
Father of the Bride Part II        5  11862.0

In [ ]:
indices_map = hr.set_index('id')

In [ ]:
def hybrid_recommender(userId,title):
    idx = indices[title]
    tmdbId = hr.loc[title]['id']
    movie_id = hr.loc[title]['movieId']

    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]

    movie_indices = [i[0] for i in sim_scores]
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [ ]:
hybrid_recommender(1,'The Imitation Game')

                        title  vote_count  vote_average  year      id       est
472          Schindler's List      4436.0           8.3  1993     424  3.442948
8000              Headhunters       404.0           7.2  2011   70670  3.138107
638                Stalingrad       116.0           7.4  1993   11101  2.978456
7972       A Dangerous Method       589.0           6.2  2011   48231  2.977256
7157                     Milk       628.0           7.1  2008   10139  2.938997
6393            49th Parallel        20.0           6.6  1941   21735  2.937568
8554            Lone Survivor      1549.0           7.4  2013  193756  2.937534
5144  The Diary of Anne Frank        79.0           7.3  1959    2576  2.922648
7174            Che: Part Two       155.0           6.7  2009    8880  2.905846
3459       Von Ryan's Express        57.0           6.7  1965   21876  2.898655

In [ ]:
hybrid_recommender(80,'The Imitation Game')

                     title  vote_count  vote_average  year     id       est
472       Schindler's List      4436.0           8.3  1993    424  4.115666
3459    Von Ryan's Express        57.0           6.7  1965  21876  3.936021
6654       The Dam Busters        36.0           7.0  1955  13210  3.743024
3205  The Eagle Has Landed        77.0           6.4  1976  11372  3.707387
5237     Soldier of Orange        39.0           7.4  1977    633  3.654090
8000           Headhunters       404.0           7.2  2011  70670  3.649554
7188              Valkyrie      1195.0           6.7  2008   2253  3.616996
7174         Che: Part Two       155.0           6.7  2009   8880  3.614430
6393         49th Parallel        20.0           6.6  1941  21735  3.603043
2849    Prick Up Your Ears        27.0           6.1  1987  27857  3.574606